<!--   About.cshtml
Project: Hourly Worker Web
Name: Katherine Bellman
Student ID: 100325825
Date: November 15th 2021

Description: About page content for MVC web application

-->

@{
	ViewData["Title"] = "About";
}

<div class="text-center jumbotron bg-light" style="fill-opacity: 30">
	<h1 class="text-md-center ">@ViewData["Title"]</h1>
	<img src="/images/IncIncLogo.png" alt="Incoporeal Incorporated Logo" />
	<br />
	<br />
	<p class="lead">Created as part of the arrangement with IncInc made with Durham College by the instructors of NETD 3202. </p>
	<hr class="my-2">
	<br />
	<p>A student created payroll application created as an optional version for Incoporeal Incorporated Inc.</p>
	<br />
	<h5> Student Developer Information </h5>
	<img src="/images/student_developer_profile2.png" alt="Student Developer Profile Image" class="card-img  rounded-circle mx-auto d-block w-25 " /><br />
	<ul style="list-style-type: none; padding: 0; margin: 0">
		<li><b>Name          :</b> Katherine Bellman</li>
		<li><b>Student Number:</b> 100325825</li>
		<li><b>Submitted     :</b> November 16th 2021</li>
		<li><b>Github        :</b> <a type="text/css" target="_blank" href="https://github.com/Tsukiyomi-Inari"> Tsukiyomi-Inari</a></li>
	</ul>
</div>
